<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <h1>This Is My Blog</h1>
    
    {% include "layout/menu.html" %}
    <br>
    <br>

    
    <table>
        <tr>
            <td>Nama</td>
            <td>: Moch.Fauzan</td>
        </tr>
        <tr>
            <td>Kelas</td>
            <td>: XI.RPL-3</td>
        </tr>
        <tr>
            <td>Jurusan</td>
            <td>: Rekayasa Perangakat Lunak</td>
        </tr>
        <tr>
            <td>Sekolah</td>
            <td>: SMK Negeri 4 TSM</td>
        </tr>
 
    </table>

        {% for blog in blogs %}
            <h3>{{ blog.judul }}</h3>
            <h5>{{ blog.Kategori }} - {{ blog.Kategori.keterangan }}</h5>
            oleh <i>{{ blog.penulis }}</i> - {{ blog.tanggal }}
            <hr>
        {% endfor %}        

</body>
</html>