<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
    <h1>GET IN TOUCH</h1>

    {% include "layout/menu.html" %}
    <br>
    <br>
    <table>
        <tr>
            <td>Email</td>
            <td>: <a href="mfauzanmeidyh@gmail.com">mfauzanmeidyh@gmail.com</a></td>
        </tr>
        <tr>
            <td>Twitter</td>
            <td>: <a href="#">@mfauzanmh1</a></td>
        </tr>
        <tr>
            <td>GitHub</td>
            <td>: <a href="https://github/MochFauzan">https://github/MochFauzan</a></td>
        </tr>
        <tr>
            <td>No.Hp</td>
            <td>: 081321426952</td>
        </tr>
    </table>
    
</body>
</html>