<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
    <h1>GET IN TOUCH</h1>

    {% include "layout/menu.html" %}
    <br>
    <li>Instagram<a href="www.instagram.com">@mfauzanmeidyh</a></li>
    <li>Facebook<a href="www.facebook.com">@MochFauzan</a></li>
    <li>E-mail<a href="mfauzanmeidyh@gmail.com">mfauzanmeidyh@gmail.com</a></li>
</body>
</html>